<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="Database" connectionString="User ID=sa; Password=Administrator1; Initial Catalog=EMR_Prod;Data Source=.\Sql_2k8NotR2"/>
  </connectionStrings>
  <system.serviceModel>
    <services>
      <service name="DataObjects_Wcf.Service">
        <endpoint address="http://localhost:8732/WcfService"
              binding="webHttpBinding"
              contract="DataObjects_Wcf.Interface_WcfService"/>
      </service>
    </services>
    
    <behaviors>
      <endpointBehaviors>
        <behavior>
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
