<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SystemLogPath" value="D:\Logs\WcfDamit"/>
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="User ID=sa; Password=Administrator1; Initial Catalog=Damit;Data Source=.\Sql_2k8R2"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="DataObject_Wcf.WcfService">
        <endpoint
          address="http://DataObjects_Wcf/WcfService"
          binding="webHttpBinding"
          bindingConfiguration="TransportSecurity"
          contract="DataObjects_Framework.DataAccess.Interface_WcfService"
          behaviorConfiguration="web"/>
        <endpoint 
          address="mex"
          binding="mexHttpsBinding"
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="web">
          <serviceMetadata httpsGetEnabled="true" httpsGetUrl="" />
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp defaultOutgoingResponseFormat="Json" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <extensions>
      <behaviorExtensions>
        <add name="ErrorLogging" type="ErrorHandlerBehavior"/>
      </behaviorExtensions>
    </extensions>
    <diagnostics>
      <!-- Enable Message Logging here. -->
      <!-- log all messages received or sent at the transport or service model levels -->
      <messageLogging logEntireMessage="true"
                      maxMessagesToLog="300"
                      logMessagesAtServiceLevel="true"
                      logMalformedMessages="true"
                      logMessagesAtTransportLevel="true" />
    </diagnostics>
    <bindings>
      <webHttpBinding>      
        <binding name="TransportSecurity">
          <security mode="Transport">
            <transport clientCredentialType="None" />
          </security>
        </binding>
      </webHttpBinding>
    </bindings>
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="System.ServiceModel"
              switchValue="Information, ActivityTracing"
              propagateActivity="true">        
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="xml" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\TEMP\Service.svclog" type="System.Diagnostics.XmlWriterTraceListener"
        name="xml" />
    </sharedListeners>
  </system.diagnostics>
</configuration>
